body {
    background-color: #111;
    color: #fefefe;
    font-family: sans-serif;
}

#game-status {
    display: block;
}
.game-status {
    display: block;
}
.game-status--run {
    color: green;
}
.game-status--pause {
    color: orange;
}

.game-status--over {
    color: red;
}

#game-time {
    font-size: 1.25em;
}

#canvas {
    display: block;
    border: 2px solid red;
    position: absolute;
    top: 0;
    right: 0.5em;
    box-sizing: border-box;
    z-index: 20;
}

#background {
    display: block;
    border: 4px solid greenyellow;
    position: absolute;
    top: 0;
    right: 0.5em;
    box-sizing: border-box;
    z-index: 10;
}

.next-element {
    margin-top: 2em;
    padding-bottom: 0.5em;
    position: relative;
}

.next-element--label {
    display: block;
    padding-bottom: 0.5em;
    color: yellow;
}

#next-element--canvas {
    display: block;
    border: 3px solid yellow;
    position: relative;
    box-sizing: content-box;
    z-index: 10;

    padding: 0.5em;
}

.keys {
    padding: 1em 0;
}
.keys--title {
    margin: 0;
    color: yellow;
}
.keys--list {
    margin: 0;
    padding-inline-start: 1.5em;
}
.keys--single {
    padding: 0.25em 0;
}
.keys--button {
    display: inline-block;
    padding: 0.25em 1em;
    border: 1px solid #fefefe;
    border-radius: 3px;
    background-color: #aaa;
}