html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    width: 100%;
    height: 100%;
}

body {
    line-height: 1;
    background-color: #111;
    color: #fefefe;
    font-family: sans-serif;
    background-color: #111;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}
.background--divcibare {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/images/divcibare_by_marinbgd_de6ffrq-fullview.jpg') center top no-repeat;
    background-size: cover;
}

.background--fullmoon {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/images/full_moon_by_marinbgd_d6a2dar-fullview.jpg') center top no-repeat;
    background-size: cover;
}

.background--house {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/images/house_by_marinbgd_dbuwrib-fullview.jpg') center top no-repeat;
    background-size: cover;
}

.background--lovebirds {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/images/lovebirds_by_marinbgd_db6b494-fullview.jpg') center top no-repeat;
    background-size: cover;
}

.background--palic {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./assets/images/palic_lake_sunset_by_marinbgd_darlzdd-fullview.jpg') center top no-repeat;
    background-size: cover;
}

.main {
    padding-left: 1em;
}

.game-status {
    display: block;
}
.game-status--run {
    color: green;
}
.game-status--pause {
    color: orange;
}
.game-status--over {
    color: red;
}

.game-score {
    display: block;
    margin-top: 1em;
    color: yellow;
}

#game-time {
    font-size: 1.25em;
}

#canvas {
    display: block;
    border: 2px solid red;
    position: absolute;
    top: 0;
    right: 0.5em;
    box-sizing: border-box;
    z-index: 20;
}

#background {
    display: block;
    border: 4px solid greenyellow;
    position: absolute;
    top: 0;
    right: 0.5em;
    box-sizing: border-box;
    z-index: 10;
}

.next-element {
    margin-top: 2em;
    padding-bottom: 0.5em;
    position: relative;
}

.next-element--label {
    display: block;
    padding-bottom: 0.5em;
    color: yellow;
}

#next-element--canvas {
    display: block;
    border: 3px solid yellow;
    position: relative;
    box-sizing: content-box;
    z-index: 10;

    padding: 0.5em;
}

.keys {
    padding: 1em 0;
}
.keys--title {
    margin: 0;
    color: yellow;
}
.keys--list {
    margin: 0;
    padding-inline-start: 1.5em;
}
.keys--single {
    padding: 0.25em 0;
}
.keys--button {
    display: inline-block;
    padding: 0.25em 1em;
    border: 1px solid #fefefe;
    border-radius: 3px;
    background-color: #aaa;
}

.points {
    position: absolute;
    left: 50%;
    margin-left: -1.5em;
    z-index: 100;

    font-size: 3em;
    font-weight: bold;
    font-family: monospace, monospace;

    padding: 0.5em;
    border-radius: 50%;
    background-color: red;
    border: 6px solid orange;
    display: none;
}

.points--animation {
    display: block;
    animation: flashing 1s;
}

@keyframes flashing {
    0% {
        background-color: yellow;
        transform: scale(1.25, 1.25)
    }
    25% {
        background-color: red;
        transform: scale(0.75, 0.75)
    }
    50% {
        background-color: yellow;
        transform: scale(1.15, 1.15)
    }
    75% {
        background-color: red;
        transform: scale(0.85, 0.85)
    }
    100% {
        background-color: yellow;
        transform: scale(1, 1)
    }
}